<div class="page-content page-background">
    <div class="version-panel">
        <div class="app-icon">
            <img src="./img/westar.png">
        </div>
        <div>{{i18n-text 'current-version'}} {{version}}</div>
    </div>
</div>
