<div class="page-content page-background" id="myCompany_template_all">
    <div class="mobileframe">
        <div class="wx-group">
            <div class="wx-title text-center">
                {{i18n-text 'contactHR'}}<B>&nbsp;{{i18n-text 'MrZhang'}}</B>
            </div>
            <div class="wx-title text-center">
                {{i18n-text 'workHour'}}
            </div>
            <div class="list-block">
                <div class="list-group">
                    <ul>
                        <li><a href="tel:470-670-0075" class="item-link item-content external">
                            <div class="item-media">
                                <i class="icon WeStar_iconfont">&#xe604;</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">470-670-0075</div>
                            </div>
                        </a></li>
                        <li><a href="mailto:cdpcommunication@cdpgroupltd.com" class="item-link item-content external">
                            <div class="item-media">
                                <i class="icon WeStar_iconfont">&#xe608;</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">cdpcommunication@cdpgroupltd.com</div>
                            </div>
                        </a></li>
                        <li id="callWX"><a href="#" class="item-link item-content external">
                            <div class="item-media">
                                <i class="icon WeStar_iconfont">&#xe61d;</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">CDPWeStar</div>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
