<div class="page-content page-background">
    <div class="edit-text-input-container border-color">
        <input type="text" placeholder={{placeholder}} class="edit-text-input">
    </div>
    <a href="javascript:void(0);" class="weui_btn btn-quit-color" id="saveEdit" style="margin: 20px; color: white">{{i18n-text 'saveP'}}</a>
</div>
